<section class="h-100 h-custom w-100" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Add Users</h3>
            <%= form_with url: admin_users_path, method: :post , local: true, class: "px-md-2" do |f| %>  <!-- has_one relationship -->
              <div class="form-outline mb-4">
                  <label class="form-label" >CSV</label><i> ( Add one or multiple users. Column names should match below )</i><br /> 
                  <label class="form-label" >Required Columns</label><i> | first_name, middle_name, last_name, email, password |</i><br/>
                  <label class="form-label" >IMPORTANT</label><i> ( Passwords must be temporary and randomized for security )</i><br/>
                  <%= f.file_field :csv, accept: 'text/csv', class: "form-control" %>
              </div>
              <%= button_tag "Submit", class: "btn btn-success btn-lg mb-1",
                data: 
                {
                  disable_with: 'Processing <div class="spinner-border text-primary" role="status"></div>'.html_safe,
                } 
              %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>