/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Navbar */

.nochildlinks a{
    text-decoration: none;
    color:black
}

.disflxrctr{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.disflxcleft{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.disflxcctr{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fnszp8e{
    font-size: .8em;
}

.hovfocus:hover{
    font-weight:600;
}

.hovfocushv:hover{
    font-weight:700;
}

.logged-in{
    width:10em;
    height:2.4em;
    border-radius: .5em;
    border: solid rgba(16, 38, 10, 0.307) .2em;
    background-color: rgb(231, 240, 231);
    margin-left:1em;
}

.logged-in li{
    flex:1;
    white-space: nowrap;
    font-size: .9em;
}

.log-in{
    margin:auto;
    width:fit-content;
    height:fit-content;
    padding:4em;
    padding-top:1em;
    padding-bottom: 2em;
    background-color: rgb(202, 225, 228);
    border-radius:1em;
    border:solid rgba(98, 107, 100, 0.576) .5em;
    font-size:1.25em
}

.log-in div{
    width:15em;
}

.sign-up{
    margin:auto;
    width:fit-content;
    height:fit-content;
    padding:4em;
    padding-top:1em;
    padding-bottom: 2em;
    background-color: rgb(202, 225, 228);
    border-radius:1em;
    border:solid rgba(98, 107, 100, 0.576) .5em;
    font-size:1.25em
}

.sign-up div{
    width:16em;
}

.forgot-pass{
    margin:auto;
    width:fit-content;
    height:fit-content;
    padding:4em;
    padding-top:1em;
    padding-bottom: 2em;
    background-color: rgb(202, 225, 228);
    border-radius:1em;
    border:solid rgba(98, 107, 100, 0.576) .5em;
    font-size:1.25em
}

.forgot-pass div{
    width:18em;
}

.lgn-label{
    border-bottom: solid rgba(40, 40, 40, 0.601) .1em;
    text-align: center;
}

.lgn-label h2{
    font-size:1.25em;
}

.lgn-input{
    margin-top:1em;
}

.lgn-input input{
    border-radius:.2em;
    width:100%;
}

.lgn-button{
    width:100%;
    border-radius: .25em;
    background-color: rgb(215, 215, 237);
}

.lgn-options a{
    font-size:.85em
}

.fntbold{
    font-weight: bold;
}

.ssr-body{
    background-color: rgb(191, 231, 217);
}