.Hidden{
  visibility: hidden !important;
}

.Comp-Query{
  display:flex;
  flex:1;
  max-height:3em;
  background-color: rgb(234, 244, 246);
}

.Comp-Query .Filter{
  width:50px;
  position:relative;
  background-color: transparent;
  border:none;
}

.Comp-Query .Filter .Clear{
  position:relative;
}

.Comp-Query .Filter .Clear:hover{
  cursor:pointer;
  background-color: white;
}
.Comp-Query .Filter path{
  pointer-events: none;
}
.Comp-Query .Filter button{
  position:absolute;
  top:-1.9em;
  left:.5em;
  width:5em;
  font-size: 1.1em;
  padding:0;
  border-radius:.5em;
}

.Comp-Query .Filter button:active{
  width:5em;
  background-color: transparent;
}

.Comp-Query .Filter button:focus{
  width:5em;
  background-color: transparent;
  outline: none;
}

.Comp-Query .Filter button:hover{
  background-color: gainsboro;
  cursor:pointer;
  user-select: none;
  font-weight: bold;
}

.Comp-Query div{
  display:flex;
  justify-content: center;
  align-items: center;
}

.Comp-Query div input:first-child{
  width:64%;
}

.Comp-Query div input{
  width:26%;
}

/* Table */

.App-Table{
  display:flex;
  flex-direction: column;
  flex:30;
}

.Comp-Table{
  flex:1;
  overflow-y:scroll;
  background-color: rgb(234, 244, 246);
  display:flex;
  flex-direction: column;
}

.Comp-Table-Input{
  width:100%;
  border:none;
}

.Comp-Table-Input:not([disabled]){
  border: solid black .1em;
  background-color: rgb(211, 243, 225);
}

.Comp-Table-Edit{
  display:flex;
  flex:1;
  justify-content: center;
  align-items: center;
}

.Comp-Table-Edit .Options button{
  margin-left:.125em;
  margin-right:.125em;
  user-select: none;
}

.Comp-Table-Edit .Options button:hover{
  cursor:pointer;
  background-color: rgb(242, 174, 195) !important
}

.Comp-Table-Edit .Options button:first-child{
  border-radius:.75em;
  background-color: rgb(141, 240, 207);
}

.Comp-Table-Edit .Options button:nth-child(2){
  border-radius:.75em;
  background-color: rgb(137, 219, 246);
}

.Comp-Table-Edit svg:hover{
  background-color: rgb(236, 236, 241);
  border:solid black .05em;
  cursor:pointer;
  border-radius: .1em;
  height:1.25em;
  width:1.25em;
}

.Comp-Table-Edit path{
  pointer-events: none;
}

.Comp-Table .Buttons{
  display:flex;
  position:relative;
  height:3em;
  justify-content: flex-end;
  align-items: center;
}

.Comp-Table .Buttons .Row-Options{
  height:100%;
  width:1.5em;
  margin-left:1em;
}

.Comp-Table .Buttons .Row-Options:hover{
  background-color: rgb(188, 184, 184);
  cursor:pointer;
}

.Comp-Table .Buttons .AddComponent::-webkit-scrollbar{
  display:none;
}

.Comp-Table .Buttons .AddComponent{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
  position:absolute;
  top:0;
  bottom:0;
  height:fit-content;
  overflow-y: scroll;
  border: solid rgba(24, 24, 36, 0.523) .5em;
  border-radius: .95em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  z-index:5;
  width:fit-content;
  display:flex;
  flex-direction: column-reverse;
}

.Comp-Table .Buttons .AddComponent .Close{
  position:absolute;
  height:1.5em;
  width:1.5em;
  top:0;
  right:0;
  z-index: 1;
  border:solid rgba(106, 10, 10, 0.433) .1em;
  border-radius: .25em;
  margin-top:.25em;
  margin-right: .25em;
  background-color: rgb(153, 149, 149);
}

.Comp-Table .Buttons .AddComponent .Close:hover{
  background-color: rgb(204, 129, 129);
  cursor:pointer;
}

.Comp-Table .Buttons .Confirm{
  position:absolute;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:100%;
  right:0;
  background-color: rgb(131, 192, 150);
  padding:1em;
  border-radius:.5em;
  z-index:3;
  border:solid black .125em;
}

.Comp-Table .Buttons .Confirm div{
  display:flex;
  flex-direction: row;
  margin-top:.5em;
}

.Comp-Table .Buttons .Confirm div button{
  border-radius: .5em;
  width:5em;
  margin:.5em;
}

.Comp-Table .Buttons .Confirm div button:hover{
  background-color: rgb(51, 51, 140);
  color:white;
  cursor:pointer;
}

.Comp-Table::-webkit-scrollbar {
  display:none;
}

.Comp-Table .Nested-Table{
  background-color: rgb(196, 226, 213) !important;
  border: solid rgba(128, 128, 128, 0.455) .5em;
  border-radius:1em;
  flex:1.25;
}

.Comp-Table .Nested-Table .Comp-Table-Input{
  width:100%;
  border:none;
  background-color: rgb(196, 226, 213) !important;
}

.Comp-Table .Nested-Table .Comp-Table-Input:not([disabled]){
  border: solid black .1em;
  background-color: rgb(171, 218, 197) !important;
}


/* Create Login */

.Comp-CreateLogin{
  background-color: rgb(202, 225, 228);
  width:42em;
  height:52em;
  display:flex;
  flex-direction: column;
  border-radius: .5em;
  border:solid black .1em;
  padding:1.5em;
  font-size:.8em;
}

.Comp-CreateLogin .Input .Col input::placeholder{
  font-size: .75em;
}

.Comp-CreateLogin .Input .Col .Date div{
  min-width:fit-content;
  font-size:1em;
  min-width:2em;
}

.Comp-CreateLogin .Input .Col .Date input::placeholder{
  font-size:.75em !important;
}
.Comp-CreateLogin .Input .Col .Date{
  display:flex;
  position:relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:relative;
}

.Comp-CreateLogin .react-datepicker-wrapper{
  position:absolute;
  top:0;
  transform: translate(15%,17%);
}

.Comp-CreateLogin .react-datepicker{
  position:absolute;
  background-color: white;
  border:solid black .1em;
  border-radius:.5em;
  z-index:2;
  top:0em;
  left:-6.4em;
}

.Comp-CreateLogin .Input .Col .Date .Value{
  position:relative;
  width:100%;
}

.Comp-CreateLogin .Input .Col .Date .Icon{
  position:absolute;
  width:2em;
  height:1.25em;
  right:-.5em;
  top:.5em;
}

.Comp-CreateLogin .Input .Col .ShowPass svg:hover{
  background-color: rgb(190, 190, 244);
  border-radius:50%;
  cursor:pointer;
}

.Comp-CreateLogin .Input .Col .ShowPass svg{
  user-select: none;
  width:1em;
  margin-left:.1em;
  padding:.05em;
  height:inherit;
}

.Comp-CreateLogin .Input .Col .ShowPass svg path{
  pointer-events: none;
  user-select: none;
}

.Comp-CreateLogin .Input .Col{
  flex:1;
  display:flex;
  flex-direction: column;
  padding:1em;
  align-items: center;
}

.Comp-CreateLogin .Input{
  display:flex;
  flex-direction: row;
}

.Comp-CreateLogin .Input .Col .Labels{
  flex:1;
  font-weight: bold;
}

.Comp-CreateLogin .Input .Col .Password{
  display:flex;
  align-items: center;
}

.Comp-CreateLogin .Input .Col .Password div{
  position:relative;
  height:inherit;
}

.Comp-CreateLogin .Input .Col .Password div svg{
  height:1em;
}

.Comp-CreateLogin .SignInOptions{
  width:100%;
  background-color: rgb(215, 215, 237);
  border-radius: .25em;
  font-size:1.5em;
}

.Comp-CreateLogin .SignInOptions:hover{
  background-color: rgb(177, 233, 177);
  cursor:pointer;
}
.Comp-CreateLogin .Input input{
  margin-bottom:1em;
  margin-top:.5em;
}

.Comp-CreateLogin div a{
  font-weight: normal;
}

.Comp-CreateLogin div a:hover{
  cursor:pointer;
  font-weight: bold;
}


/* Login */

.Comp-Login{
  background-color: rgb(202, 225, 228);
  width:25em;
  height:25em;
  display:flex;
  flex-direction: column;
  border-radius: .5em;
  border:solid black .1em;
}

.Comp-Login .CL-Row{
  flex:1;
  display:flex;
  flex-direction: column;
  padding:1em;
  padding-left:2em;
  padding-right:2em;
  align-items: center;
}

.Comp-Login .CL-Row button{
  width:100%;
  background-color: rgb(215, 215, 237);
  border-radius: .25em;
}

.Comp-Login .CL-Row button:hover{
  font-weight: 600;
  cursor:pointer;
  background-color:  rgb(212, 212, 249);
}

.Comp-Login .CL-Row input{
  margin-bottom:1em;
  margin-top:.5em;
}

.Comp-Login .CL-Row div{
  font-weight: bold;
  width:100%;
}

.Comp-Login .CL-Row .Password{
  display:flex;
  align-items: center;
}

.Comp-Login .CL-Row .Password div{
  flex:1;
}

.Comp-Login .CL-Row .Password .ShowPass svg:hover{
  background-color: rgb(190, 190, 244);
  border-radius:50%;
  cursor:pointer;
}

.Comp-Login .CL-Row .Password .ShowPass svg{
  user-select: none;
  width:1.25em;
  height:inherit;
  padding:.1em;
}

.Comp-Login .CL-Row .Password .ShowPass svg path{
  pointer-events: none;
  user-select: none;
}

.Comp-Login .CL-Row div a{
  font-weight: normal;
  padding:.25em;
}

.Comp-Login .CL-Row div a:hover{
  cursor:pointer;
  font-weight: bold;
}


/* Forgot Signin Unfinished */

.Comp-Forgot{
  background-color: rgb(202, 225, 228);
  width:25em;
  height:25em;
  display:flex;
  flex-direction: column;
  border-radius: .5em;
  border:solid black .1em;
}

.Comp-Forgot .CF-Row{
  flex:1;
  display:flex;
  flex-direction: column;
  padding:2em;
  align-items: center;
}

.Comp-Forgot .CF-Row button{
  width:100%;
  background-color: rgb(215, 215, 237);
  border-radius: .25em;
}

.Comp-Forgot .CF-Row input{
  margin-bottom:1em;
}

.Comp-Forgot .CF-Row div{
  font-weight: bold;
  width:100%;
}

.Comp-Forgot .CF-Row .Password{
  display:flex;
  align-items: center;
}

.Comp-Forgot .CF-Row .Password div{
  flex:1;
}

.Comp-Forgot .CF-Row div a{
  font-weight: normal;
  padding:.25em;
}
.Comp-Forgot .CF-Row div a:hover{
  cursor:pointer;
  font-weight: bold;
}