
<div class="root_hero">
    <h1 class="heading-1 root_title">Complete Spend Management From Procure to Pay</h1>
    <div class="nochildlinks disflxrctr root_links">
        <a>Invoice Automation</a>
        <a>Purchase Orders</a>
        <a>3-Way Match</a>
        <a>Expense Reimbursement</a>
        <a>Receiving</a>
        <a>Vendor Onboarding</a>
        <a>Domestic and International Payments</a>
        <a>Virtual Cards</a>
        <a>Budgeting</a>
    </div>
    <br/>
    <div class = "root_divider"></div>
    <br/>
    <div class = "disflxrctr">
        <div class ="root_button">
            <%= link_to 'ADMIN PORTAL', admin_index_path %>
        </div>

        <div class ="root_button">
            <%= link_to 'EMPLOYEE PORTAL', employees_index_path %>
        </div>
    </div>
</div>
