
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: server_django.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /payroll: /frontend_react/build
    /payroll/employee_search: /frontend_react/build
    /payroll/timesheet_search:  /frontend_react/build
    /payroll/timesheet_create: /frontend_react/build
    /static: static

    
    

