container_commands:
  01_collectstatic:
    command: "cd /var/app && source ./venv/staging-LQM1lest/bin/activate && python3.8 ./staging/manage.py collectstatic --noinput"
  02_check_migrations:
    command: "cd /var/app && source ./venv/staging-LQM1lest/bin/activate && python3.8 ./staging/manage.py makemigrations --noinput"
  03_make_migrations:
    command: "cd /var/app && source ./venv/staging-LQM1lest/bin/activate && python3.8 ./staging/manage.py migrate"
