
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: server_django.wsgi:application
    
 container_commands:
   django_maintenance:
     command: "cd /var/app && source ./venv/staging-LQM1lest/bin/activate && python3.8 ./current/manage.py makemigrations --noinput &&
     && python3.8 ./current/manage.py migrate && python3.8 ./current/manage.py collectstatic --noinput"

